<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   @* <title>@ViewData["Title"] - LAB02_ED1_G</title>*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-light" style="background-color: #3D5A80;">
            <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="https://portal.sat.gob.gt/portal/wp-content/uploads/2021/06/logo_sat_blanco-1.png" height="50">
            </a>
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white-50" asp-area="" asp-controller="Cliente" asp-action="Create">Nuevo registro ABB</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white-50" asp-area="" asp-controller="Cliente" asp-action="Index">Registro por ABB</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white-50" asp-area="" asp-controller="AVL" asp-action="Create2">Nuevo registro AVL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white-50" asp-area="" asp-controller="AVL" asp-action="Index2">Registro por AVL</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - LAB02_ED1_G
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
